{% extends '../base/base.html' %}
{% load static %}

{% block title %}
Draft Course | {{ course.name }}
{% endblock %}

{% block description %}
This is the draft page for teachers to edit the courses
{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Publish Button -->
    <div class="row mt-3">
        <div class="col-md-12">
            <form action="{% url 'publish_course' course.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">
                    Publish
                </button>
            </form>
        </div>
    </div>

    <!-- Tabs -->
    <ul class="nav nav-tabs mt-3" id="courseTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="editCourseDetails-tab" data-bs-toggle="tab" data-bs-target="#editCourseDetails" type="button" role="tab" aria-controls="editCourseDetails" aria-selected="true">Edit Course Details</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="courseMaterials-tab" data-bs-toggle="tab" data-bs-target="#courseMaterials" type="button" role="tab" aria-controls="courseMaterials" aria-selected="false">Course Materials</button>
        </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content" id="courseTabsContent">
        <!-- Edit Course Details Tab -->
        <div class="tab-pane fade show active" id="editCourseDetails" role="tabpanel" aria-labelledby="editCourseDetails-tab">
            <div class="row mt-3">
                <div class="col-md-8">
                    {% include 'partials/messages.html' %}
                    <form id="editCourseForm" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_name" class="form-label">Name</label>
                            {{ form.name}}
                        </div>
                        <div class="mb-3">
                            <label for="id_summary" class="form-label">Summary</label>
                            {{ form.summary}}
                        </div>
                        <div class="mb-3">
                            <label for="id_start_date" class="form-label">Start Date</label>
                            {{ form.start_date}}
                        </div>
                        <div class="mb-3">
                            <label for="id_description" class="form-label">Description</label>
                            {{ form.description}}
                        </div>
                        <div class="d-flex align-items-center">
                            <button type="submit" id="saveBtn" class="btn btn-primary">Save Changes</button>
                            <p class="mx-3">
                                <span id="lastModifiedDate">
                                    {% if course.last_modified %}
                                        Last Modified: {{ course.last_modified }}
                                    {% endif %}
                                </span>
                            </p>
                        </div>
                    </form>
                                     
                </div>
            </div>
        </div>
        
        
        
        <!-- Course Materials Tab -->
        <div class="tab-pane fade" id="courseMaterials" role="tabpanel" aria-labelledby="courseMaterials-tab">
            <div class="row mt-3">
                <div class="col-md-3">
                    <h3>Weeks</h3>
                    <ul class="list-group">
                        {% for week_number in weeks %}
                        <li class="list-group-item">
                            <a href="#" hx-get="{% url 'get_week_materials' course.id week_number %}" hx-trigger="click" hx-target="#materials-container" hx-swap="innerHTML" >
                                Week {{ week_number }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-9" id="materials-container">
                    <!-- Content will be dynamically loaded here -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script to load materials for the first week by default -->
<script>
    // Reload the page to load materials for the first week by default
    window.onload = function() {
        document.querySelector('[hx-get]').click();
    };

    document.getElementById('saveBtn').addEventListener('click', function() {
        // Get the CKEditor instance
        var editor = CKEDITOR.instances.id_description;
                
        // Get the CKEditor content
        var content = editor.getData();
                
        // Set the content to a hidden input field
        document.getElementById('id_description').value = content;
    });
</script>

{% endblock %}
