{% extends '../base/base.html' %}
{% load static %}

{% block canonical_path %}
  {% url 'dashboard' %}
{% endblock %}

{% block title %}
  Student Dashboard | {{ user.username }}
{% endblock %}

{% block description %}
  This is the dashboard page for the user
{% endblock %}

{% block content %}
  <div class="container text-center">
    {% include 'partials/messages.html' %}
    {% comment %} <h1>Welcome, {{ user.username }}</h1> {% endcomment %}

    <!-- Profile Section -->
    <div class="row mb-5 d-flex align-items-center justify-content-center">
      {% include 'partials/profile_section.html' %}
    </div>

    <!-- Registered Courses and Status Updates -->
    <div class="row">
      <div class="col-md-6">
          <h2>Registered Courses</h2>
          {% if registered_courses %}
          <div class="row">
              {% for course in registered_courses %}
              <div class="col-md-12">
                <ul class="list-group">
                  <a href="{% url 'official' course.id %}" class="list-group-item list-group-item-action" >{{ course.name }}</a>
                </ul>
              </div>
              {% endfor %}
          </div>
          {% else %}
          <div class="col-md-12">
              <p>You haven't enrolled into any courses yet.</p>
              <a href="{% url 'courses' %}">View Courses <i class="fas fa-chevron-right"></i></a>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-md-12 mb-4">
                <h2>Deadlines</h2>
                <!-- Deadline content here -->
                {% for course, course_deadlines in grouped_deadlines.items %}
                  <div class="accordion" id="course{{ course.id }}Accordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading{{ course.id }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ course.id }}" aria-expanded="true" aria-controls="collapse{{ course.id }}">
                          {{ course.name }}
                        </button>
                      </h2>
                      <div id="collapse{{ course.id }}" class="accordion-collapse collapse show" aria-labelledby="heading{{ course.id }}" data-bs-parent="#course{{ course.id }}Accordion">
                        <div class="accordion-body">
                          <ul class="list-group">
                            {% for deadline in course_deadlines %}
                              <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <a href="{% url 'official' deadline.course.id %}?week={{ deadline.week_number }}" class="course-link">
                                            <span class="course-name">{{ deadline.name }}</span>
                                        </a>
                                    </div>
                                    <div class="deadline-info">
                                        <span>Due by:</span>
                                        <span>{{ deadline.get_assignment_deadline }}</span>
                                    </div>
                                </div>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}

            </div>
            <div class="col-md-12 mb-4">
                <h2>List of Chats</h2>
                <!-- List of chat content here -->
                {% for chat in course_chats %}
                  <li class="list-group-item">
                    <a href="{% url 'room' chat.chat_name|slugify %}"> {{ chat.chat_name }}</a>
                  </li>
                {% endfor %}
            </div>
        </div>
      </div>
  
      <div class="col-md-6">
          <div class="row">
              <div class="col-md-12">
                  <h2>Latest Status Updates</h2>
                  <!-- Status update content here -->
                  <div class="status-updates">
                    {% for update in status_updates %}
                      <div class="update">
                        <p>{{ update.content }}</p>
                        <p>Posted at: {{ update.timestamp|date:'D, d M Y H:i:s' }}</p>
                      </div>
                      {% empty %}
                      <p>No status updates yet.</p>
                    {% endfor %}
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
