{% extends '../base/base.html' %}
{% load static %}

{% block title %}
Teacher Dashboard - {{ user.username }}
{% endblock %}

{% block canonical_path %}/dashboard/{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h1 class="mb-4">Teacher Dashboard</h1>

    <!-- Profile Section -->
    <div class="row mb-5 d-flex align-items-center justify-content-center">
        {% include 'partials/profile_section.html' %}
    </div>

    <!-- Draft and Official Courses Section -->
    <div class="row">
        <!-- Draft Courses Section -->
        {% if not current_user %}
        <div class="col-md-6">
            <h2>Draft Courses</h2>

            <!-- Create Course Button -->
            <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#createCourseModal">Create New Course</button>

            <div class="row">
                {% for course in draft_courses %}
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.name }}</h5>
                            <p class="card-text">{{ course.summary }}</p>
                            <a href="{% url 'draft' course.id %}" class="btn btn-success">Edit Course</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col">
                    <p>No draft courses found.</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <!-- Official Courses Section -->
        {% if not current_user%}
            <section class="col-md-6">
        {% else %}
            <div class="col-md-12">
        {% endif %}
            <h2>Official Courses</h2>
            <div class="row">
                {% for course in official_courses %}
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.name }}</h5>
                            <p class="card-text">{{ course.summary }}</p>
                            {% if not current_user %}
                                <a href="{% url 'draft' course.id %}" class="btn btn-success">Edit Course</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col">
                    <p>No official courses found.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Pagination -->
    {% if draft_courses.has_other_pages or official_courses.has_other_pages %}
    <div class="row mt-5">
        <div class="col-md-12">
            <ul class="pagination justify-content-center">
                {% if draft_courses.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ draft_courses.previous_page_number }}">{{ draft_courses.previous_page_number }}</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ draft_courses.number }}">{{ draft_courses.number }}</a>
                </li>
                {% if draft_courses.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ draft_courses.next_page_number }}">{{ draft_courses.next_page_number }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ draft_courses.paginator.num_pages }}">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="createCourseModal" tabindex="-1" aria-labelledby="createCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="createCourseModalLabel">Create New Course</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'create_course' %}" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {% include 'partials/messages.html' %}
                        <div class="mb-3">
                            {{ createCourseForm.name.label_tag }}
                            {{ createCourseForm.name }}
                            <div class="invalid-feedback">{{ createCourseForm.name.errors }}</div>  
                        </div>
                        <div class="mb-3">
                            {{ createCourseForm.summary.label_tag }}
                            {{ createCourseForm.summary }}
                            <div class="invalid-feedback">{{ createCourseForm.summary.errors }}</div>
                        </div>
                        <div class="mb-3">
                            {{ createCourseForm.duration_weeks.label_tag }}
                            {{ createCourseForm.duration_weeks }}
                            <div class="invalid-feedback">{{ createCourseForm.duration_weeks.errors }}</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
