{% extends '../base/base.html' %}

{% block canonical_path %}/course_details/{{course.id}}/{% endblock %}

{% block title %}
{{ course.name }} | Course Details
{% endblock %}

{% block description %}
This is the details for the course "{{ course.name }}"
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ course.name }}</h1>
            <p>{{ course.summary }}</p>
            <hr>
            {{ course.description|safe }} {# Assuming course.details is a RichTextField #}
        </div>
        <div class="col-md-4">
            <h3>Teacher</h3>
            <p>{{ course.teacher.username }}</p>
            <h3>Duration (Weeks)</h3>
            <p>{{ course.duration_weeks }}</p>
            <h3>Status</h3>
            <p>{{ course.get_status_display }}</p>
            <!-- Enroll Now Button -->
            {% if user.is_authenticated %}
                {% if user.user_type == "student" and not is_enrolled %}
                    <button type="button" class="btn btn-primary" 
                        data-hx-post="{% url 'enroll' course.id %}" 
                        hx-confirm="Are you sure you want to enroll into {{ course.name }}?"
                        hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
                    >
                        Enroll Now
                    </button>
                {% elif user.user_type == "student" or user.user_type == "teacher" and course.teacher == user %}
                    <a href="{% url 'official' course.id %}" class="btn btn-primary">View Course Materials</a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-primary">Login to Enroll</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
