body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.valid {
    color: green;
}

.invalid {
    color: red;
}

.profile-picture-sm {
    /* 80px / 16px = 5rem */
    width: 5rem;
    height: 5rem;
}

.profile-picture-md {
    /* 128px / 16px = 8rem */
    width: 8rem;
    height: 8rem;
}

.profile-picture {
    /* 256px / 16px = 16rem */
    width: 16rem;
    height: 16rem;
}

.profile-picture-xl {
    /* 512px / 16px = 32rem */
    width: 32rem;
    height: 32rem;
}

.profile-picture-sm,
.profile-picture-md,
.profile-picture,
.profile-picture-xl {
    /* Make the container round */
    border-radius: 50%;
    /* Hide overflowing content (e.g., if image size exceeds container) */
    overflow: hidden;
    border: 2px solid black;
    /*  Gradient bg colours colors */
    background-image: linear-gradient(to bottom right, #ff8080, #66b3ff);
}

.profile-img {
    width: 100%;
    /* Ensure the image fills the container */
    height: 100%;
    /* Ensure the image fills the container */
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
    border-radius: 50%;
    /* Make the image round */
    border: 5px solid transparent;
    /* Transparent border to reserve space for the gradient border */
}

/* Hide the default radio inputs */
.star-rating input[type="checkbox"] {
    display: none;
}

/* Style the font-awesome stars */
.star-rating .form-check-label i:before {
    cursor: pointer;
}

/* Change the color of the selected star */
.star-rating input[type="checkbox"]:checked + .form-check-label i:before {
    color: orange;
}
