{% for deadline in course_deadlines %}
  <li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <a href="{% url 'official' deadline.assignment.course.id %}?week={{ deadline.assignment.week_number }}" class="course-link">
          <span class="course-name">{{ deadline.assignment.name }}</span>
        </a>
      </div>
      <div class="deadline-info">
        {% with assignment_deadline=deadline.assignment.get_assignment_deadline|date:"Y-m-d H:i:s" %}
          {% if current_datetime > assignment_deadline %}
            <span class="badge bg-primary">Due by: {{ deadline.assignment.get_assignment_deadline|date:"m-d H:i:s" }}</span>
          {% elif deadline.submitted_at  %}
            <span class="badge bg-success">submitted: {{ deadline.submitted_at|date:"d-M H:i:s"}}</span>
          {% else %}
            <span class="badge bg-danger">Overdue</span>
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </li>
{% endfor %}