{% extends '../base/base.html' %}

{% block title %}
    Bad Request | My eLearning App
{% endblock %}

{% block description %}
    The server could not understand the request due to invalid syntax.
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4 text-danger">Error 400 - Bad Request</h1>
            <p class="lead">The server could not understand the request due to invalid syntax.</p>
            <a href="/" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
{% endblock %}
