{% extends '../base/base.html' %}

{% block title %}
    Unauthorized | My eLearning App
{% endblock %}

{% block description %}
    Access to the requested resource requires authentication.
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4 text-danger">Error 401 - Unauthorized</h1>
            <p class="lead">Access to the requested resource requires authentication.</p>
            <a href="/" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
{% endblock %}
