{% extends '../base/base.html' %}

{% block title %}
    Forbidden | My eLearning App
{% endblock %}

{% block description %}
    You don't have permission to access this resource.
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4 text-danger">Error 403 - Forbidden</h1>
            <p class="lead">{{ error_message }}</p>
            <a href="/" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
{% endblock %}
