{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Chat Rooms</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="mt-4">Enter room name:</p>
                <div class="input-group mb-3">
                    <input id="room-name-input" type="text" class="form-control" placeholder="Room Name" aria-label="Room Name" aria-describedby="room-name-submit">
                    <button class="btn btn-primary" type="button" id="room-name-submit">Enter</button>
                </div>
            </div>
        </div>

        <ul class="list-group mt-4">
            {% include 'chat/partials/chat_room_list.html' %}
        </ul>
    </div>

    <script>
        document.querySelector('#room-name-input').focus()
        document.querySelector('#room-name-input').onkeyup = function (e) {
            if (e.key === 'Enter') {
            // enter, return
                document.querySelector('#room-name-submit').click()
            }
        }

        document.querySelector('#room-name-submit').onclick = function (e) {
            var roomName = document.querySelector('#room-name-input').value
            window.location.pathname = '/chat/' + roomName + '/'
        }
    </script>
{% endblock %}
