<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" />

    <title>{% block title %}Chat lobby for eLearning Web Application{% endblock %}</title>
    <meta name="description" content="{% block description %}This is the lobby for users to view the chat rooms for their enrolled courses{% endblock %}" />
    <link rel="canonical" href="{% block canonical_path %}{% url 'chat' %}{% endblock %}" />

    {% load static %}

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/icons/favicon.ico' %}" />

    <!-- Site Manifest -->
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap5.0.2/bootstrap.min.css' %}" />
        <!-- Scripts -->
    {% block scripts %}
      <script type="text/javascript" src="{% static 'scripts/htmx.min.js' %}" defer></script>
      <script src="https://kit.fontawesome.com/eb16bb9206.js" crossorigin="anonymous" defer></script>
      <script src="{% static 'bootstrap5.0.2/bootstrap.min.js' %}" defer></script>
      <script type="text/javascript" src="{% static 'scripts/search_user.js' %}" defer></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js" integrity="sha512-EAEoidLzhKrfVg7qX8xZFEAebhmBMsXrIcI0h7VPx2CyAyFHuDvOAUs9CEATB2Ou2/kuWEDtluEVrQcjXBy9yw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/utc.min.js" integrity="sha512-z84O912dDT9nKqvpBnl1tri5IN0j/OEgMzLN1GlkpKLMscs5ZHVu+G2CYtA6dkS0YnOGi3cODt3BOPnYc8Agjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/timezone.min.js" integrity="sha512-jmsGNYDezdyZ+W3bVeZy83kZp/2n5BgWe/0solkveG0vSSrP9XIVTD1tNiM1OqImc4H3OxHfs1uSfVclOU3mWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/relativeTime.min.js" integrity="sha512-MVzDPmm7QZ8PhEiqJXKz/zw2HJuv61waxb8XXuZMMs9b+an3LoqOqhOEt5Nq3LY1e4Ipbbd/e+AWgERdHlVgaA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script type="text/javascript" >
        dayjs.extend(window.dayjs_plugin_utc);
        dayjs.extend(window.dayjs_plugin_timezone);
        dayjs.extend(window.dayjs_plugin_relativeTime);
      </script>

      {% load notifications_tags %}
      <script type="text/javascript" src="{% static 'notifications/notify.js' %}"></script>
      <script type="text/javascript" src="{% static 'scripts/notification.js' %}"></script>
      {% register_notify_callbacks callbacks='fill_notification_badge,custom_notification_callback' %}
    {% endblock %}

  </head>
  <body>
    <!-- Navigation bar -->
    {% include 'partials/navbar.html' %}

    <!-- Content -->
    <main class="container">
      {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include 'partials/footer.html' %}
  </body>
</html>
