<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" />

    <title>
      {% block title %}
        My eLearning App
      {% endblock %}
    </title>
    <meta name="description"
      content="{% block description %}
      {% endblock %}" />

    <link rel="canonical"
      href="https://localhost{% block canonical_path %}
        {{ room_name }}
      {% endblock %}" />
    {% load static %}
    <!-- Include static files -->
    {% block scripts %}
      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />

      <!-- Site Manifest -->
      <link rel="manifest" href="{% static 'site.webmanifest' %}" />

      <!-- Scripts -->
      <script src="{% static 'scripts/chat.js' %}" defer type="text/javascript"></script>
      <script src="{% static 'bootstrap5.0.2/bootstrap.min.js' %}" defer type="text/javascript"></script>
      <script src="https://kit.fontawesome.com/eb16bb9206.js" crossorigin="anonymous" defer></script>
    {% endblock %}

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap5.0.2/bootstrap.min.css' %}" />
  </head>
  <body>
    <!-- - Navigation bar -->
    {% include 'partials/navbar.html' %}

    <main class="container">
      <div class="row mt-5">
        <!-- Left column for user profile -->
        <section class="col-md-3">
          <div class="chat-card">
            <div class="card-header text-primary">{{ room_name }}</div>
            <!-- Users Container -->
            <div class="card-body mb-4">
              <button class="btn btn-primary btn-block text-start" type="button" data-bs-toggle="collapse" data-bs-target="#usersListDiv" aria-expanded="true" aria-controls="usersList">Online</button>
              <!-- Add list of online users here -->
              <div class="collapse show mt-3" id="usersListDiv">
                <ul class="list-group" id="usersList">
                  {% for user in users %}
                    <div class="row align-items-center mb-3">
                      <!-- Image column -->
                      <div class="col-12 col-md-6 order-1 order-md-0">
                        <div class="profile-picture-md">
                          <img 
                            {% if user.photo %}
                              src="{{ user.photo.url }}"
                              data-image-src="{{ user.photo.url }}"
                            {% else %}
                              src="{% static 'img/default_profile_picture.png' %}"
                              data-image-src="{% static 'img/default_profile_picture.png' %}"
                            {% endif %}
                            alt="{{ user.username }}'s Profile Picture"
                            class="profile-img" 
                            data-bs-toggle="modal" 
                            data-bs-target="#imageModal"
                            />
                        </div>
                      </div>

                      <!-- Username and online status column -->
                      <div class="col-12 col-md-6 order-0 order-md-1">
                        <div class="d-flex flex-column justify-content-between align-items-start">
                          <!-- full_name -->
                          <a href="{% url 'user_home' user.username %}" class="text-decoration-none">{{ user.get_full_name }}</a>

                          <!-- Online status -->
                          <div class="d-flex align-items-center gap-2">
                            <span id="{{ user.username }}_status_badge" class="p-1 bg-secondary border rounded-circle"></span>
                            <span id="{{ user.username }}_status_text" class="text text-secondary">Offline</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </section>

        <!-- Right column for message container -->
        <section class="col-md-9">
          <div class="chat-card">
            <div class="card-header text-primary">{{ room_name }}</div>
            <div class="card-body">
              <div id="messageContainer" class="container">
                {% for message in messages %}
                  <div class="row">
                    <div class="col">
                      <div class="message text-break {% if message.user.username == current_user %}current-user-message{% else %}other-user-message{% endif %}">
                        <div class="message-content">
                          {% if message.user.username != current_user %}
                            <div class="message-username">{{ message.user.get_full_name }}</div>
                          {% endif %}
                          <div class="message-text">{{ message.content }}</div>
                        </div>
                        <span class="{% if message.user.username == current_user %}time-left{% else %}time-right{% endif %}">{{ message.timestamp }}</span>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="card-footer">
              <form id="chat-message-form">
                <!-- Hidden input fields for chat_room_id and user_id -->
                <input type="hidden" id="chat-room-id" value="{{ chat_room_id }}" />
                <!-- Message input and send button -->
                <div class="input-group mb-3">
                  <div class="my-2 me-3 fs-5">
                    <label for="file-input" id="file-input-label"><i class="fa fa-paperclip" aria-hidden="true"></i></label>
                    <input type="file" id="file-input" name="file" class="visually-hidden" />
                  </div>
                  <div id="chat-message-input" class="form-control overflow-auto" contenteditable="true" style="max-height: 10em;"  placeholder="Type your message..." aria-label="Type your message..."></div>
                  <button class="btn btn-primary" type="submit">Send</button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </main>

    <!-- Enlarged (transparent) Image Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
          <div class="modal-body text-center">
            <div class="profile-picture-xl">
              <img id="enlargedImage"
                src=""
                alt="enlarged {{ user.username }}'s Profile Picture"
                class="profile-img" 
                />
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ room_name|json_script:'room-name' }}
    <script>
      const currentUserName = '{{ current_user}}'
    </script>

    {% include 'partials/footer.html' %}
  </body>
</html>
