
{% load static %}
<script type="text/javascript" src="{% static 'scripts/materials.js' %}" defer></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}" defer></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}" defer></script>

{% load tz %}  <!-- Load timezone tags -->
{% get_current_timezone as TIME_ZONE %}  <!-- Get the current timezone -->
{% timezone TIME_ZONE %}  <!-- Set the timezone for now tag -->

{% now "Y-m-d H:i:s" as current_datetime %}  <!-- Get the current date and time -->

{% endtimezone %}  <!-- Reset the timezone -->


<div class="card">
    <div class="card-header">
        Week {{ week_number }}
    </div>
    <div class="card-body">
        {% include 'partials/messages.html' %}
        <!-- Display Materials -->
        <div class="d-flex justify-content-start gap-2 mb-3">
            <h4>Materials</h4>

            {% if teacher %}
            <!-- Button to trigger modal -->
            <a href="#" class="text-primary" data-bs-toggle="modal" data-bs-target="#uploadMaterialModal">
                <i class="fas fa-plus"></i>
            </a>
            {% endif %}

        </div>
        
        <ul id="materials-list" class="list-group mb-5">
            {% for course_material in course_materials %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ course_material.material.url }}" download>{{ course_material.get_base_name }}</a>

                <!-- Delete Material Form with htmx -->
                {% if teacher %}
                <div hx-delete="{% url 'delete_course_material' course_material.id %}" 
                     hx-confirm="Are you sure you want to delete this material?" 
                     hx-swap="innerHTML"
                     hx-target="#materials-container"
                     hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </div>
                {% endif %}
                
            </li>
            {% endfor %}
            <div id="materialLoadingIndicator" class="visually-hidden d-flex justify-content-center align-items-center mt-3">
                <span class="spinner-border text-info spinner-border-md" role="status" aria-hidden="true"></span>
                <span class="text text-primary">uploading materials...</span>
            </div>
        </ul>

        <div class="d-flex justify-content-start gap-2 mb-3">
            <h4>Assignments</h4>
            {% if teacher %}
            <!-- Button to trigger modal -->
            <a href="#" class="text-primary" data-bs-toggle="modal" data-bs-target="#uploadAssignmentModal">
                <i class="fas fa-plus"></i>
            </a>
            {% endif %}

        </div>

        <!-- Student Submission Section -->
        {% if course_assignments %}
        <div class="accordion" id="assignmentAccordion">
            {% for assignment in course_assignments %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ assignment.id }}">
                    <button class="accordion-button fs-5 py-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ assignment.id }}" aria-expanded="false" aria-controls="collapse{{ assignment.id }}">
                        {{ assignment.name }}
                    </button>
                </h2>
                <div id="collapse{{ assignment.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ assignment.id }}" data-bs-parent="#assignmentAccordion">
                    <div class="accordion-body">
                        <div class="mb-3">
                            {{ assignment.instructions|safe }}
                        </div>
                        <div class="submission-deadline mb-3">
                            <p><strong>Submission Deadline:</strong> {{ assignment.get_assignment_deadline }}</p>
                        </div>
                        {% if not teacher %}
                            {% if user_assignments %}
                                {% for submission in user_assignments %}
                                    {% if submission.assignment_id == assignment.id %}
                                        <form id="student-submission-form-{{ assignment.id }}" hx-post="{% url 'upload_student_submission' assignment.id  %}" hx-confirm="Are you sure you want to submit your assignment? Previous submissions may be overwritten" hx-target="#materials-container" hx-on:submit="showLoadingIndicator('material')" hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }' enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden" name="submission_id" value="{{ submission.id }}">
                                            <!-- Display link to the uploaded file -->
                                            
                                            <div class="mb-3 bg-light p-2 shadow-sm">
                                                <h3> Previous Submission</h3>
                                                <p><a href="{{ submission.assignment_file.url }}" download>{{ submission.assignment_file.name }}</a></p>
                                                <span class="fst-italic"> Submitted at {{submission.submitted_at}} </span>
                                            </div>
                                            
                                            {% if not submission.grade and current_datetime < assignment.get_assignment_deadline %}
                                            <div class="mb-3 bg-light p-2 shadow-sm"> 
                                                <label for="id_assignment_file" class="form-label">Upload New Assignment File (pdf only)</label>
                                                <input type="file" class="form-control mb-3" name="assignment_file" id="id_assignment_file" accept=".pdf">
                                                <button type="submit" class="btn btn-primary">Upload</button>
                                            </div>
                                            {% else %}
                                                <p><strong>Grade:</strong> {{ submission.grade }}</p>
                                                <p><strong>Teacher Comments:</strong> {{ submission.teacher_comments }}</p>
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% if current_datetime < assignment.get_assignment_deadline %}
                                    <!-- Display the AssignmentSubmissionForm -->
                                    <form id="student-submission-form-{{ assignment.id }}" hx-post="{% url 'upload_student_submission' assignment.id  %}" hx-confirm="Are you sure you want to submit your assignment?" hx-target="#materials-container" hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }' enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="mb-3 bg-light p-2 shadow-sm"> 
                                            <label for="id_assignment_file" class="form-label">Assignment File Upload (.pdf)</label>
                                            <input type="file" class="form-control mb-3" name="assignment_file" id="id_assignment_file" accept=".pdf">
                                            <button type="submit" class="btn btn-primary">Upload</button>
                                        </div>
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div id="assignmentLoadingIndicator" class="visually-hidden d-flex justify-content-center align-items-center mt-3">
            <span class="spinner-border text-info spinner-border-md" role="status" aria-hidden="true"></span>
            <span class="text text-primary">uploading assignment...</span>
        </div>
    </div> 
</div>

<!-- Upload Modal -->
{% if teacher %}
<div class="modal fade" id="uploadMaterialModal" tabindex="-1" aria-labelledby="uploadMaterialModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="uploadMaterialModalLabel">Upload File</h3>
                <button id="uploadMaterialModalCloseBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container mt-4">
                    <!-- File Preview Container -->
                    <div class="bg-light p-3 border mb-4">
                        <h4>File Preview</h4>
                        <ul id="filePreview">
                            <!-- Display file previews here -->
                        </ul>
                    </div>
                
                    <!-- Upload File Form -->
                    <form id="uploadForm" hx-post="{% url 'upload_material' course_id week_number %}" hx-target="#materials-container" hx-on:submit="showLoadingIndicator('material')" hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }' enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ materialUploadForm }}
                        <button  type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadAssignmentModal" tabindex="-1" aria-labelledby="uploadAssignmentModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="uploadAssignmentModalModalLabel">Upload Assignment</h3>
                <button id="uploadAssignmentModalCloseBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container mt-4">
                    <!-- Upload File Form -->
                    <form id="uploadAssignmentForm" hx-post="{% url 'upload_assignment_material' course_id week_number %}" hx-target="#materials-container" hx-on:submit="showLoadingIndicator('assignment')" hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>
                        {% csrf_token %}
                        {{ assignmentForm }}
                        <button id="assignmentUploadBtn" type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

