<nav class="container navbar navbar-expand-lg navbar-light bg-light">
     <div class="container-fluid">
        <a class="navbar-brand" href="/">Your eLearning App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% block navbar %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'courses' %}">Courses</a>
                    </li>
                    {% if user.is_authenticated %}
                        <!-- Show logout link if user is authenticated -->
                        <input class="form-control me-2" type="search" id="searchInput" name="q" placeholder="Search users" aria-label="Search" list="searchOptions" hx-get="{% url 'autocomplete' %}" hx-trigger="keyup changed delay:500ms" hx-target="#searchOptions">
                        <datalist id="searchOptions"></datalist>
   
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>

                    {% else %}
                        <!-- Show login and register links if user is not authenticated -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>
