<nav class="container navbar navbar-expand-lg navbar-light bg-light">
     <div class="container-fluid">
        <a class="navbar-brand" href="/">Your eLearning App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% block navbar %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'courses' %}">Courses</a>
                    </li>
                    {% if user.is_authenticated %}
                        <!-- oninput works, eventlistener doesn't-->
                        <input class="form-control me-2" type="search" oninput='onUserInput()' id="searchInput" name="q" placeholder="Search users" aria-label="Search" list="searchOptions" hx-get="{% url 'autocomplete' %}" hx-swap="innerHTML"hx-trigger="keyup changed delay:500ms" hx-target="#searchOptions">
                        <datalist id="searchOptions"></datalist>

   
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>

                    {% else %}
                        <!-- Show login and register links if user is not authenticated -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>
<script>
    const searchInput = document.getElementById('searchInput');

    
    // Add event listener for keydown on search input
    searchInput.addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            // Get the value from the search input
            const searchValue = searchInput.value.trim();
            if (searchValue !== '') {
                // Navigate to the search URL with the search query
                window.location.href = `/dashboard/search?q=${encodeURIComponent(searchValue)}`;
            }
        }
    });

    // go to user home page when clicked on the user in the datalist
    function onUserInput() {
        var val = document.getElementById("searchInput").value;
        var opts = document.getElementById('searchOptions').children;
        for (var i = 0; i < opts.length; i++) {
          if (opts[i].value === val) {
            // An item was selected from the list!
            // yourCallbackHere()
            window.location.href = `/dashboard/search/${encodeURIComponent(opts[i].value)}`;
          //  alert(opts[i].value);
            break;
          }
        }
      }

    // fail 
    {% comment %} searchInput.addEventListener('input', function(event) {
        removeOptionListeners(); // Remove existing event listeners
        attachOptionListeners(); // Attach new event listeners
    });
    
    // Define a function to remove event listeners from autocomplete options
    function removeOptionListeners() {
        var autocompleteOptions = document.querySelectorAll('datalist#searchOptions option');
        autocompleteOptions.forEach(function(option) {
            option.removeEventListener('click', handleClick);
        });
    }
    
    // Define a function to attach event listeners to autocomplete options
    function attachOptionListeners() {
        var autocompleteOptions = document.querySelectorAll('datalist#searchOptions option');
        autocompleteOptions.forEach(function(option) {
            console.log("test")
            option.addEventListener('click', handleClick);
        });
    }
    
    // Define a click event handler for autocomplete options
    function handleClick(event) {
        const username = event.target.value;
        console.log("username")
        window.location.href = `/dashboard/search/${encodeURIComponent(username)}`;
    } {% endcomment %}
    
    
</script>