<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" />

    <title>
      {% block title %}
        Welcome | eLearning App
      {% endblock %}
    </title>
    <meta name="description"
      content="{% block description %}
      {% endblock %}" />

    <link rel="canonical"
      {% block canonical_path %}/{% endblock %} />

    
    {% load static %}
    <!-- Site Manifest -->
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/icons/favicon.ico' %}" />

    <!-- Include static files -->
    {% block scripts %}
      <!-- Scripts -->
      <script type="text/javascript" src="{% static 'scripts/htmx.min.js' %}" defer></script>
      <script type="text/javascript" src="https://unpkg.com/htmx.org/dist/ext/response-targets.js" defer></script>
      <script src="{% static 'bootstrap5.0.2/bootstrap.min.js' %}" defer></script>
      <script src="https://kit.fontawesome.com/eb16bb9206.js" crossorigin="anonymous" defer></script>
      <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}" defer></script>
      <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}" defer></script>
      <script type="text/javascript" src="{% static 'scripts/search_user.js' %}" defer></script>
    {% endblock %}

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap5.0.2/bootstrap.min.css' %}" />
  </head>

  <body>
    <!-- - Navigation bar -->
    {% include 'partials/navbar.html' %}

    <!-- - Main content area -->
    <main class="container">
      {% block content %}
        <!-- Your main content goes here -->
      {% endblock %}
    </main>

    {% include 'partials/footer.html' %}
  </body>
</html>
