{% extends 'base/base.html' %}
{% load static %}

{% block canonical_path %}
  {% url 'profile' %}
{% endblock %}

{% block title %}
  Profile | My eLearning App
{% endblock %}

{% block description %}
  View and manage your profile information on the eLearning App.
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'scripts/profile.js' %}" defer type="text/javascript"></script>
{% endblock %}

{% csrf_token %}

{% block content %}
  <div class="container">
    {% include 'messages/messages.html' %}
    <h2 class="mt-4 mb-4">Profile</h2>
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="container d-flex flex-column align-items-center justify-content-center my-2">
            <div class="profile-picture">
              {% if user.photo %}
                <img src="{{ user.photo.url }}" alt="{{ user.username }}'s Profile Picture" class="profile-img" />
              {% else %}
                <img src="{% static 'img/default_profile_picture.png' %}" alt="Default Profile Picture" class="profile-img" />
              {% endif %}
            </div>

            <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#uploadPictureModal">Upload Picture</button>
          </div>
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <div class="card-body">
            <!-- Placeholder for success or error message -->
            <p id="profile-message" class="invalid"></p>

            <h5 class="card-title">Personal Information - {{ user.user_type }}</h5>
            <p class="card-text">
              <label for="username">Username:</label>
              <span id="username" contenteditable="false">{{ user.username }}</span>
              <i class="fas fa-pencil-alt edit-icon" data-field="username"></i>
            </p>
            <p class="card-text">
              <label for="first_name">First Name:</label>
              <span id="first_name" contenteditable="false">{{ user.first_name }}</span>
              <i class="fas fa-pencil-alt edit-icon" data-field="first_name"></i>
            </p>
            <p class="card-text">
              <label for="last_name">Last Name:</label>
              <span id="last_name" contenteditable="false">{{ user.last_name }}</span>
              <i class="fas fa-pencil-alt edit-icon" data-field="last_name"></i>
            </p>
            <p class="card-text">
              <label for="email">Email:</label>
              <span id="email" contenteditable="false">{{ user.email }}</span>
              <i class="fas fa-pencil-alt edit-icon" data-field="email"></i>
            </p>
            <button id="changePassBtn" type="button"
                    class="btn text-primary border border-primary mb-3 shadow-sm" data-bs-toggle="modal"
                    data-bs-target="#updatePassModal">
              <span>change password</span>
            </div>
          </div>
        </div>
      </div>

  <!-- Upload Picture Modal -->
      <div class="modal fade" id="uploadPictureModal" tabindex="-1" role="dialog" aria-labelledby="uploadPictureModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="uploadPictureModalLabel">Upload Profile Picture</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
          <!-- Profile picture preview -->
              <div class="profile-picture mb-3">
                <img id="profilePreview"
                     src="{% if user.photo %}
                            {{ user.photo.url }}
                          {% else %}
                            {% static 'img/default_profile_picture.png' %}
                          {% endif %}"
                     alt="{{ user.username }}'s Profile Picture"
                     class="profile-img" />
              </div>
          <!-- Form for profile picture upload -->
              <form id="uploadForm" action="{% url 'upload_picture' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-3">{{ profileForm }}</div>
                <button type="submit" class="btn btn-primary">Upload</button>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="updatePassModal" tabindex="-1" role="dialog" aria-labelledby="updatePassModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered border-0">
          <div class="modal-content shadow">
            <div class="modal-header border-0 ps-5 pe-4">
              <h3 class="modal-title" style=" color: #384855;" id="updatePassModalLabel">Update Password</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5 pt-0">
              <form id="updatePassForm" action="/updatePassword" method="POST">
                {% csrf_token %}
                <div class="form-group mb-4">
                  <label for="password">Old Password</label>
                  <div class="input-group">
                    <input type="password" name="oldpassword" id="oldPassword" class="form-control form-control-sm bg-light" placeholder="current password"
                           autocomplete="current-password" required autofocus aria-describedby="oldPasswordFeedback">
                    <span class="input-group-text">
                      <i class="fas fa-eye" id="toggleOldPassword"></i>
                    </span>
                    <div id="oldPasswordFeedback" class="invalid-feedback">The old password is invalid.</div>
                  </div>
                </div>
                <span id="passwordErrSpan" class="text-danger"></span>

                <div class="form-group mb-4">
                  <label for="password">New Password</label>
                  <div class="input-group">
                    <input type="password" name="password" id="password" class="form-control form-control-sm bg-light"
                           placeholder="" autocomplete="new-password" required aria-describedby="newPasswordFeedback"/>
                    <span class="input-group-text">
                      <i class="fas fa-eye" id="togglePassword"></i>
                    </span>
                    <div id="newPasswordFeedback" class="invalid-feedback">Password must contains at least eight alphanumerical characters, including
                      uppercase.</div>
                  </div>
                </div>

                <div class="form-group mb-4">
                  <label for="password_confirm">Confirm Password</label>
                  <div class="input-group">
                    <input type="password" name="password_confirm" id="password_confirm"
                           class="form-control form-control-sm bg-light" placeholder="" autocomplete="new-password" required aria-describedby="passwordConfirmFeedback"/>
                    <span class="input-group-text">
                      <i class="fas fa-eye" id="toggleConfirmPassword"></i>
                    </span>
                    <div id="passwordConfirmFeedback" class="invalid-feedback">Passwords must match.</div>
                  </div>

                </form>
              </div>
              <div>
                <p class="fw-bold px-5 mt-3 text-danger " id="updatePassErr"></p>
              </div>
              <div class="modal-footer border-0 bg-light mt-3 pe-4 py-3">
                <button type="button" class="btn btn-transparent shadow-none fst-normal" data-bs-dismiss="modal">Cancel
                </button>
                <button id="changePassConfirmBtn" type="submit" form="updatePassForm" class="btn btn-danger shadow-none">
                  <span id="changePassSpinner" class="spinner-border spinner-border-sm visually-hidden" role="status"></span>
                  <span id="ChangePassText">Change Password</span>
                </button>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
