{% extends 'base/base.html' %}

{% block canonical_path %}
    {% url 'register' %}
{% endblock %}

{% block title %}
    Register | My eLearning App
{% endblock %}

{% block description %}
    A registration page for the eLearning Application
{% endblock %}

{% block scripts %}
    {% load static %}
    {{ block.super }}
  <!-- Include custom script here -->
    <script src="{% static 'scripts/register.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="container col-lg-6 col-md-8 col-sm-10">
        <h2>Register</h2>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                <div class="input-group">
                    {{ form.username }}
                    <div id="username-error" class="invalid-feedback">Must be between 8-150 characters</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                <div class="input-group">
                    {{ form.email }}
                    <div id="email-error" class="invalid-feedback">Must match the format: user@example.com</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name</label>
                {{ form.first_name }}
                <div id="first_name-error" class="invalid-feedback">First Name cannot be empty</div>
            </div>
            <div class="mb-3">
                <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name</label>
                {{ form.last_name }}
                <div id="last_name-error" class="invalid-feedback">Last Name cannot be empty</div>
            </div>
            <div class="mb-3">
                <label for="{{ form.user_type.id_for_label }}" class="form-label">User Type</label>
                {{ form.user_type }}
                <div id="user_type-error" class="invalid-feedback">Inappropriate user type</div>
            </div>
            <div class="mb-3">
                <label for="{{ form.date_of_birth.id_for_label }}" class="form-label">Date of Birth</label>
                {{ form.date_of_birth }}
                <div id="date_of_birth-error" class="invalid-feedback">Date value is wrong</div>
            </div>
            <div class="mb-3">
                <label for="{{ form.password1.id_for_label }}" class="form-label">Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" aria-describedby="password1-error">
                    <div id="password1-error" class="invalid-feedback"></div>
                </div>
            </div>
            <div class="mb-3">
                <label for="{{ form.password2.id_for_label }}" class="form-label">Confirm Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" aria-describedby="password2-error">
                    <div id="password2-error" class="invalid-feedback">Password must match</div>
                </div>
            </div>
            <button id="registerBtn" type="submit" class="btn btn-primary shadow-none">
                <span id="registerSpinner" class="spinner-border spinner-border-sm visually-hidden" role="status"></span>
                <span id="registerBtnText">Register</span>
            </button>
        </form>

    </div>
{% endblock %}
