{% extends '../base/base.html' %}
{% load static %}

{% block canonical_path %}
    {% if request.resolver_match.url_name == 'official' %}
        {% url 'official' course_id=course.id %}
    {% elif request.resolver_match.url_name == 'draft' %}
        {% url 'draft' course_id=course.id %}
    {% endif %}
{% endblock %}

{% block title %}
    {{ course.name }} | eLearning App
{% endblock %}

{% block description %}
    This is the course page for students to view course materials and for teacher to edit
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/course.js' %}" defer type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="container mt-5">
    <!-- Publish Button -->
        {% if course.status == "draft" %}
            <div class="row mt-3">
                <div class="col-md-12">
                    <form action="{% url 'publish_course' course.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">
                            Publish
                        </button>
                    </form>
                </div>
            </div>
        {% endif %}
    <!-- Tabs -->

        <ul class="nav nav-tabs mt-3" id="courseTabs" role="tablist">

            {% if teacher %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="editCourseDetails-tab" data-bs-toggle="tab" data-bs-target="#editCourseDetails" type="button" role="tab" aria-controls="editCourseDetails" aria-selected="true">Edit Course Details</button>
                </li>
            {% endif %}

            <li class="nav-item" role="presentation">
                <button class="nav-link" id="courseMaterials-tab" data-bs-toggle="tab" data-bs-target="#courseMaterials" type="button" role="tab" aria-controls="courseMaterials" aria-selected="false">Course Materials</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="studentInfo-tab" data-bs-toggle="tab" data-bs-target="#studentInfo" type="button" role="tab" aria-controls="studentInfo" aria-selected="false">Student Information</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="courseFeedback-tab" data-bs-toggle="tab" data-bs-target="#courseFeedback" type="button" role="tab" aria-controls="courseFeedback" aria-selected="false">Course Feedback</button>
            </li>
        </ul>
        {% include 'partials/messages.html' %}
        <!-- Tab content -->
        <div class="tab-content" id="courseTabsContent">
        <!-- Edit Course Details Tab -->

            {% if teacher %}
                <div class="tab-pane fade" id="editCourseDetails" role="tabpanel" aria-labelledby="editCourseDetails-tab">
                    <div class="row mt-3">
                        <div class="col-md-8">

                            <form id="editCourseForm" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="id_name" class="form-label">Name</label>
                                    {{ form.name}}
                                </div>
                                <div class="mb-3">
                                    <label for="id_summary" class="form-label">Summary</label>
                                    {{ form.summary}}
                                </div>
                                <div class="mb-3">
                                    <label for="id_start_date" class="form-label">Start Date</label>
                                    {{ form.start_date}}
                                </div>
                                <div class="mb-3">
                                    <label for="id_description" class="form-label">Description</label>
                                    {{ form.description}}
                                </div>
                                <div class="d-flex align-items-center">
                                    <button type="submit" id="saveBtn" class="btn btn-primary">Save Changes</button>
                                    <p class="mx-3">
                                        <span id="lastModifiedDate">
                                            {% if course.last_modified %}
                                                Last Modified: {{ course.last_modified }}
                                            {% endif %}
                                        </span>
                                    </p>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            {%endif %}

        <!-- Course Materials Tab -->
            <div class="tab-pane fade" id="courseMaterials" role="tabpanel" aria-labelledby="courseMaterials-tab">
                <div class="row mt-3 mb-3">
                    <div class="col-md-3"  hx-ext="response-targets">
                        <ul class="list-group" id="week-list">
                            {% for week_number in weeks %}
                                {% include 'partials/week_item.html' %}
                            {% endfor %}
                        </ul>
                    <!-- Buttons wrapper -->
                        {% if teacher %}
                            <div class="d-flex my-3 justify-content-center">
                            <!-- Add new week button -->
                                <button class="btn btn-primary btn-sm me-2 wkBtn"
                                        hx-patch="{% url 'week' course.id %}"
                                        hx-target="#week-list"
                                        hx-swap="beforeend"
                                        hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>
                                    Add Week
                                </button>
                            <!-- Delete week button -->
                                <button class="btn btn-danger btn-sm wkBtn"
                                        hx-delete="{% url 'week' course.id %}"
                                        hx-target="#week-list a:last-child"
                                        hx-confirm="Are you sure you want to remove the latest week? Materials deleted is non-recoverable"
                                        hx-swap="outerHTML"
                                        hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
                                        hx-target-400="#del-error-message">

                                    Delete latest Week
                                </button>
                            </div>

                            <div id="del-error-message">
                            <!-- Error message content will be updated here -->
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-9" id="materials-container">
                    <!-- Content will be dynamically loaded here -->
                    </div>
                </div>
            </div>

        <!-- Student Information Tab -->
            <div class="tab-pane fade" id="studentInfo" role="tabpanel" aria-labelledby="studentInfo-tab">
            <!-- Display student information here -->
                {% for enrolment in course.enrolment_set.all %}
                    {% if enrolment.is_banned and teacher %}
                        <div class="col-md-12 mb-3">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-md-2 d-flex justify-content-end align-items-center m-3">
                                            <div class=" profile-picture-md">
                                                <img src="{{ enrolment.student.photo.url }}" alt="{{ enrolment.student.username }}'s Profile Picture" class="profile-img"/>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                    <!-- Student details -->
                                            <h5 class="card-title"><a href="{% url 'user_home' enrolment.student.username %}">{{ enrolment.student.get_full_name }} {% if user.id == enrolment.student.id%} (You){% endif %}</a></h5>
                                            <p class="card-text m-0">Username: {{ enrolment.student.username}}</p>
                                            <p class="card-text">Email: {{ enrolment.student.email }}</p>
                                    <!-- Include additional public information here -->
                                        </div>
                                        <div class="col-md-2">
                                            <form hx-patch="{% url 'update-ban-status' course.id enrolment.student.id %}"
                                                  hx-target="this"
                                                  hx-swap="innerHTML"
                                                  hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>

                                                <button class="btn btn-success btn-sm">
                                                    Unban
                                                    <span class="htmx-indicator spinner-border spinner-border-sm text-light" role="status" aria-hidden="true"></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif not enrolment.is_banned %}
                        <div class="col-md-12 mb-3">
                            <div class="card border-0">
                                <div class="card-body p-0">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-md-2 d-flex justify-content-end align-items-center m-3">
                                            <div class=" profile-picture-md">
                                                <img src="{{ enrolment.student.photo.url }}" alt="{{ enrolment.student.username }}'s Profile Picture" class="profile-img"/>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                    <!-- Student details -->
                                            <h5 class="card-title">
                                                {% if user.id == enrolment.student.id%}
                                                    {{ enrolment.student.get_full_name }} (You)
                                                {% else %}
                                                    <a href="{% url 'user_home' enrolment.student.username %}">{{ enrolment.student.get_full_name }}</a>
                                                {% endif %}
                                            </h5>
                                            <p class="card-text m-0">Username: {{ enrolment.student.username }}</p>
                                            <p class="card-text">Email: {{ enrolment.student.email }}</p>
                                    <!-- Include additional public information here -->
                                        </div >
                                        {% if teacher %}
                                            <div class="col-md-2">
                                                <form hx-patch="{% url 'update-ban-status' course.id enrolment.student.id %}"
                                                      hx-target="this"
                                                      hx-swap="innerHTML"
                                                      hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>
                                                    <button class="btn btn-danger btn-sm">
                                                        Ban
                                                        <span class="htmx-indicator spinner-border spinner-border-sm text-light" role="status" aria-hidden="true"></span>
                                                    </button>
                                                </form>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% empty %}
                    <p class="fst-italics"> There are no students enrolled into the course yet.</p>
                {% endfor %}
            </div>

        <!-- Course Feedback Tab-->
            <div class="tab-pane fade" id="courseFeedback" role="tabpanel" aria-labelledby="courseFeedback-tab">
                <div class="container">
                    {% if not teacher %}
                        <div id="feedback_form_container" class="mt-3">
                            <h2 class="mb-3"> Feedback Form</h2>
                            {% include 'partials/feedback_form.html' with feedback_form=feedback_form %}
                        </div>
                    {% endif %}

                    {% if teacher or feedback_form.instance.pk %}
            <!-- Display other students' feedback -->
                        <ul class="list-group">
                            {% for feedback in course_feedbacks %}
                                {% include 'partials/feedback.html' with feedback=feedback%}
                            {% empty %}
                                <p>No feedback available.</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
